label[for="edit-field-pal-nat-new-und"] {
  text-align: left;
  width: 100%;
}
label[for="edit-field-pal-isk-new-und-2"] {
  background-image: url(../hairs/f1.png);
}
label[for="edit-field-pal-isk-new-und-3"] {
  background-image: url(../hairs/f2.png);
}
label[for="edit-field-pal-isk-new-und-32"] {
  background-image: url(../hairs/f3.png);
}
label[for="edit-field-pal-isk-new-und-33"] {
  background-image: url(../hairs/f8.png);
}
label[for="edit-field-pal-isk-new-und-34"] {
  background-image: url(../hairs/f9.png);
}
label[for="edit-field-pal-isk-new-und-35"] {
  background-image: url(../hairs/f10.png);
}
label[for="edit-field-pal-isk-new-und-36"] {
  background-image: url(../hairs/f11.png);
}
label[for="edit-field-pal-isk-new-und-37"] {
  background-image: url(../hairs/f12.png);
}
label[for="edit-field-pal-isk-new-und-38"] {
  background-image: url(../hairs/f13.png);
}
label[for="edit-field-pal-isk-new-und-39"] {
  background-image: url(../hairs/f14.png);
}
label[for="edit-field-pal-isk-new-und-40"] {
  background-image: url(../hairs/f15.png);
}
label[for="edit-field-pal-isk-new-und-41"] {
  background-image: url(../hairs/f16.png);
}
label[for="edit-field-pal-isk-new-und-42"] {
  background-image: url(../hairs/f17-2.png);
}
label[for="edit-field-pal-isk-new-und-43"] {
  background-image: url(../hairs/f18.png);
}
label[for="edit-field-pal-isk-new-und-44"] {
  background-image: url(../hairs/f19.png);
}
label[for="edit-field-pal-isk-new-und-45"] {
  background-image: url(../hairs/f20.png);
}
label[for="edit-field-pal-isk-new-und-46"] {
  background-image: url(../hairs/f21.png);
}
label[for="edit-field-pal-isk-new-und-47"] {
  background-image: url(../hairs/f22.png);
}
label[for="edit-field-pal-isk-new-und-48"] {
  background-image: url(../hairs/f23.png);
}
label[for="edit-field-pal-isk-new-und-49"] {
  background-image: url(../hairs/f24.png);
}
label[for="edit-field-pal-isk-new-und-50"] {
  background-image: url(../hairs/f25.png);
}
label[for="edit-field-pal-isk-new-und-51"] {
  background-image: url(../hairs/f26.png);
}
label[for="edit-field-pal-isk-new-und-52"] {
  background-image: url(../hairs/f27.png);
}
label[for="edit-field-pal-isk-new-und-53"] {
  background-image: url(../hairs/f31.png);
}
label[for="edit-field-pal-isk-new-und-54"] {
  background-image: url(../hairs/ton-1.png);
}
label[for="edit-field-pal-isk-new-und-55"] {
  background-image: url(../hairs/ton-1b.png);
}
label[for="edit-field-pal-isk-new-und-56"] {
  background-image: url(../hairs/ton-2.png);
}
label[for="edit-field-pal-isk-new-und-57"] {
  background-image: url(../hairs/ton-3.png);
}
label[for="edit-field-pal-isk-new-und-58"] {
  background-image: url(../hairs/ton-4.png);
}
label[for="edit-field-pal-isk-new-und-59"] {
  background-image: url(../hairs/ton-5m.png);
}
label[for="edit-field-pal-isk-new-und-60"] {
  background-image: url(../hairs/ton-5y.png);
}
label[for="edit-field-pal-isk-new-und-61"] {
  background-image: url(../hairs/ton-6.png);
}
label[for="edit-field-pal-isk-new-und-62"] {
  background-image: url(../hairs/ton-6y.png);
}
label[for="edit-field-pal-isk-new-und-63"] {
  background-image: url(../hairs/ton-8.png);
}
label[for="edit-field-pal-isk-new-und-64"] {
  background-image: url(../hairs/ton-10.png);
}
label[for="edit-field-pal-isk-new-und-65"] {
  background-image: url(../hairs/ton-12.png);
}
label[for="edit-field-pal-isk-new-und-66"] {
  background-image: url(../hairs/ton-14.png);
}
label[for="edit-field-pal-isk-new-und-67"] {
  background-image: url(../hairs/ton-16.png);
}
label[for="edit-field-pal-isk-new-und-68"] {
  background-image: url(../hairs/ton-24.png);
}
label[for="edit-field-pal-isk-new-und-69"] {
  background-image: url(../hairs/ton-25.png);
}
label[for="edit-field-pal-isk-new-und-70"] {
  background-image: url(../hairs/ton-27.png);
}
label[for="edit-field-pal-isk-new-und-71"] {
  background-image: url(../hairs/ton-30.png);
}
label[for="edit-field-pal-isk-new-und-72"] {
  background-image: url(../hairs/ton-33.png);
}
label[for="edit-field-pal-isk-new-und-73"] {
  background-image: url(../hairs/ton-60.png);
}
label[for="edit-field-pal-isk-new-und-74"] {
  background-image: url(../hairs/ton120.png);
}
label[for="edit-field-pal-isk-new-und-75"] {
  background-image: url(../hairs/ton130.png);
}
label[for="edit-field-pal-isk-new-und-76"] {
  background-image: url(../hairs/ton132.png);
}
label[for="edit-field-pal-isk-new-und-77"] {
  background-image: url(../hairs/ton-613.png);
}
label[for="edit-field-pal-nat-new-und-4"] {
  background-image: url(../hairs/1-0.png);
}
label[for="edit-field-pal-nat-new-und-5"] {
  background-image: url(../hairs/1-2.png);
}
label[for="edit-field-pal-nat-new-und-6"] {
  background-image: url(../hairs/2-0.png);
}
label[for="edit-field-pal-nat-new-und-7"] {
  background-image: url(../hairs/3-0.png);
}
label[for="edit-field-pal-nat-new-und-8"] {
  background-image: url(../hairs/4-0.png);
}
label[for="edit-field-pal-nat-new-und-9"] {
  background-image: url(../hairs/4-15.png);
}
label[for="edit-field-pal-nat-new-und-10"] {
  background-image: url(../hairs/5-0.png);
}
label[for="edit-field-pal-nat-new-und-11"] {
  background-image: url(../hairs/5-5.png);
}
label[for="edit-field-pal-nat-new-und-12"] {
  background-image: url(../hairs/6-0.png);
}
label[for="edit-field-pal-nat-new-und-13"] {
  background-image: url(../hairs/6-1.png);
}
label[for="edit-field-pal-nat-new-und-14"] {
  background-image: url(../hairs/6-3.png);
}
label[for="edit-field-pal-nat-new-und-15"] {
  background-image: url(../hairs/7.43.png);
}
label[for="edit-field-pal-nat-new-und-16"] {
  background-image: url(../hairs/7-0.png);
}
label[for="edit-field-pal-nat-new-und-17"] {
  background-image: url(../hairs/7-1.png);
}
label[for="edit-field-pal-nat-new-und-18"] {
  background-image: url(../hairs/7-03.png);
}
label[for="edit-field-pal-nat-new-und-19"] {
  background-image: url(../hairs/7-7.png);
}
label[for="edit-field-pal-nat-new-und-20"] {
  background-image: url(../hairs/7-54.png);
}
label[for="edit-field-pal-nat-new-und-21"] {
  background-image: url(../hairs/8-0.png);
}
label[for="edit-field-pal-nat-new-und-22"] {
  background-image: url(../hairs/8-1.png);
}
label[for="edit-field-pal-nat-new-und-23"] {
  background-image: url(../hairs/8-3.png);
}
label[for="edit-field-pal-nat-new-und-24"] {
  background-image: url(../hairs/8-34.png);
}
label[for="edit-field-pal-nat-new-und-25"] {
  background-image: url(../hairs/9-0.png);
}
label[for="edit-field-pal-nat-new-und-26"] {
  background-image: url(../hairs/9-03.png);
}
label[for="edit-field-pal-nat-new-und-27"] {
  background-image: url(../hairs/9-13.png);
}
label[for="edit-field-pal-nat-new-und-28"] {
  background-image: url(../hairs/10-0.png);
}
label[for="edit-field-pal-nat-new-und-29"] {
  background-image: url(../hairs/10-1.png);
}
label[for="edit-field-pal-nat-new-und-30"] {
  background-image: url(../hairs/10-3.png);
}
label[for="edit-field-pal-nat-new-und-31"] {
  background-image: url(../hairs/12-0.png);
}
label.term-field-id-2 {
  background-image: url(../hairs/f1.png);
}
label.term-field-id-3 {
  background-image: url(../hairs/f2.png);
}
label.term-field-id-32 {
  background-image: url(../hairs/f3.png);
}
label.term-field-id-33 {
  background-image: url(../hairs/f8.png);
}
label.term-field-id-34 {
  background-image: url(../hairs/f9.png);
}
label.term-field-id-35 {
  background-image: url(../hairs/f10.png);
}
label.term-field-id-36 {
  background-image: url(../hairs/f11.png);
}
label.term-field-id-37 {
  background-image: url(../hairs/f12.png);
}
label.term-field-id-38 {
  background-image: url(../hairs/f13.png);
}
label.term-field-id-39 {
  background-image: url(../hairs/f14.png);
}
label.term-field-id-40 {
  background-image: url(../hairs/f15.png);
}
label.term-field-id-41 {
  background-image: url(../hairs/f16.png);
}
label.term-field-id-42 {
  background-image: url(../hairs/f17-2.png);
}
label.term-field-id-43 {
  background-image: url(../hairs/f18.png);
}
label.term-field-id-44 {
  background-image: url(../hairs/f19.png);
}
label.term-field-id-45 {
  background-image: url(../hairs/f20.png);
}
label.term-field-id-46 {
  background-image: url(../hairs/f21.png);
}
label.term-field-id-47 {
  background-image: url(../hairs/f22.png);
}
label.term-field-id-48 {
  background-image: url(../hairs/f23.png);
}
label.term-field-id-49 {
  background-image: url(../hairs/f24.png);
}
label.term-field-id-50 {
  background-image: url(../hairs/f25.png);
}
label.term-field-id-51 {
  background-image: url(../hairs/f26.png);
}
label.term-field-id-52 {
  background-image: url(../hairs/f27.png);
}
label.term-field-id-53 {
  background-image: url(../hairs/f31.png);
}
label.term-field-id-54 {
  background-image: url(../hairs/ton-1.png);
}
label.term-field-id-55 {
  background-image: url(../hairs/ton-1b.png);
}
label.term-field-id-56 {
  background-image: url(../hairs/ton-2.png);
}
label.term-field-id-57 {
  background-image: url(../hairs/ton-3.png);
}
label.term-field-id-58 {
  background-image: url(../hairs/ton-4.png);
}
label.term-field-id-59 {
  background-image: url(../hairs/ton-5m.png);
}
label.term-field-id-60 {
  background-image: url(../hairs/ton-5y.png);
}
label.term-field-id-61 {
  background-image: url(../hairs/ton-6.png);
}
label.term-field-id-62 {
  background-image: url(../hairs/ton-6y.png);
}
label.term-field-id-63 {
  background-image: url(../hairs/ton-8.png);
}
label.term-field-id-64 {
  background-image: url(../hairs/ton-10.png);
}
label.term-field-id-65 {
  background-image: url(../hairs/ton-12.png);
}
label.term-field-id-66 {
  background-image: url(../hairs/ton-14.png);
}
label.term-field-id-67 {
  background-image: url(../hairs/ton-16.png);
}
label.term-field-id-68 {
  background-image: url(../hairs/ton-24.png);
}
label.term-field-id-69 {
  background-image: url(../hairs/ton-25.png);
}
label.term-field-id-70 {
  background-image: url(../hairs/ton-27.png);
}
label.term-field-id-71 {
  background-image: url(../hairs/ton-30.png);
}
label.term-field-id-72 {
  background-image: url(../hairs/ton-33.png);
}
label.term-field-id-73 {
  background-image: url(../hairs/ton-60.png);
}
label.term-field-id-74 {
  background-image: url(../hairs/ton120.png);
}
label.term-field-id-75 {
  background-image: url(../hairs/ton130.png);
}
label.term-field-id-76 {
  background-image: url(../hairs/ton132.png);
}
label.term-field-id-77 {
  background-image: url(../hairs/ton-613.png);
}
label.term-field-id-4 {
  background-image: url(../hairs/1-0.png);
}
label.term-field-id-5 {
  background-image: url(../hairs/1-2.png);
}
label.term-field-id-6 {
  background-image: url(../hairs/2-0.png);
}
label.term-field-id-7 {
  background-image: url(../hairs/3-0.png);
}
label.term-field-id-8 {
  background-image: url(../hairs/4-0.png);
}
label.term-field-id-9 {
  background-image: url(../hairs/4-15.png);
}
label.term-field-id-10 {
  background-image: url(../hairs/5-0.png);
}
label.term-field-id-11 {
  background-image: url(../hairs/5-5.png);
}
label.term-field-id-12 {
  background-image: url(../hairs/6-0.png);
}
label.term-field-id-13 {
  background-image: url(../hairs/6-1.png);
}
label.term-field-id-14 {
  background-image: url(../hairs/6-3.png);
}
label.term-field-id-15 {
  background-image: url(../hairs/7.43.png);
}
label.term-field-id-16 {
  background-image: url(../hairs/7-0.png);
}
label.term-field-id-17 {
  background-image: url(../hairs/7-1.png);
}
label.term-field-id-18 {
  background-image: url(../hairs/7-03.png);
}
label.term-field-id-19 {
  background-image: url(../hairs/7-7.png);
}
label.term-field-id-20 {
  background-image: url(../hairs/7-54.png);
}
label.term-field-id-21 {
  background-image: url(../hairs/8-0.png);
}
label.term-field-id-22 {
  background-image: url(../hairs/8-1.png);
}
label.term-field-id-23 {
  background-image: url(../hairs/8-3.png);
}
label.term-field-id-24 {
  background-image: url(../hairs/8-34.png);
}
label.term-field-id-25 {
  background-image: url(../hairs/9-0.png);
}
label.term-field-id-26 {
  background-image: url(../hairs/9-03.png);
}
label.term-field-id-27 {
  background-image: url(../hairs/9-13.png);
}
label.term-field-id-28 {
  background-image: url(../hairs/10-0.png);
}
label.term-field-id-29 {
  background-image: url(../hairs/10-1.png);
}
label.term-field-id-30 {
  background-image: url(../hairs/10-3.png);
}
label.term-field-id-31 {
  background-image: url(../hairs/12-0.png);
}
.cart-btn-hover:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
div#edit-field-pal-isk-new-und .form-item,
div#term-field-id .form-item,
#edit-field-pal-nat-new-und .form-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
div#edit-field-pal-isk-new-und .form-item label,
div#term-field-id .form-item label,
#edit-field-pal-nat-new-und .form-item label {
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.form-item-line-item-fields-field-pal-isk-und.form-type-radio.radio,
.form-item-line-item-fields-field-pal-nat-und.form-type-radio.radio {
  display: none;
}
.form-item-line-item-fields-field-pal-isk-und.form-type-radio.radio.enabled-label,
.form-item-line-item-fields-field-pal-nat-und.form-type-radio.radio.enabled-label {
  display: inline-block;
}
.field-name-field-pal-isk-new,
.field-name-field-pal-nat-new {
  display: none;
}
form#commerce-product-ui-product-form .field-name-field-pal-isk-new,
form#commerce-product-ui-product-form .field-name-field-pal-nat-new {
  display: inline-block;
}
form#commerce-product-ui-product-form .field-name-field-pal-isk-new label.control-label,
form#commerce-product-ui-product-form .field-name-field-pal-nat-new label.control-label {
  overflow: hidden;
  font-size: 14px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding-left: 5px;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
  background-size: cover;
}
form#commerce-product-ui-product-form .field-name-field-pal-isk-new input,
form#commerce-product-ui-product-form .field-name-field-pal-nat-new input {
  margin-left: 0px;
  margin-top: 33px;
}
form#commerce-product-ui-product-form .commerce-product-field.commerce-product-field-commerce-price.field-commerce-price,
form#commerce-product-ui-product-form .field-name-commerce-price.field-type-commerce-price {
  margin: 0;
}
form.commerce-add-to-cart .field-type-taxonomy-term-reference.field-widget-options-buttons {
  text-align: left;
}
form.commerce-add-to-cart .form-radios {
  margin-bottom: 15px;
}
form.commerce-add-to-cart .form-radios .form-item.form-item-product-id {
  text-align: left;
}
form.commerce-add-to-cart .form-radios .form-item.form-item-product-id.form-item-line-item-fields-field-pal-isk-und {
  margin-bottom: 5px;
}
form.commerce-add-to-cart .form-radios .form-item.form-item-product-id label {
  padding: 6px 20px;
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
form.commerce-add-to-cart .form-radios .form-item.form-item-product-id label.active-product {
  background-color: #d3127a;
  color: #fff;
}
form.commerce-add-to-cart .form-radios .form-item.form-item-product-id label input {
  width: 0;
}
form.commerce-add-to-cart .btn-success.form-submit,
form.commerce-add-to-cart #edit-submit {
  background: #3379b7;
  border-color: #3379b7;
  text-align: center;
  color: #fff;
}
form.commerce-add-to-cart .btn-success.form-submit:hover,
form.commerce-add-to-cart #edit-submit:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
form.commerce-add-to-cart .commerce-buy-one-click-button {
  background: #d3127a;
  border-color: #d3127a;
  color: #FFF;
  text-align: center;
  margin-top: 10px;
}
form.commerce-add-to-cart .commerce-buy-one-click-button:hover {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
form.commerce-add-to-cart input[name="quantity"] {
  width: 50px;
  display: inline-block;
  text-align: center;
}
form.commerce-add-to-cart .form-item.form-item-quantity .control-label {
  display: none;
}
.commerce-product-field.commerce-product-field-commerce-price.field-commerce-price,
.field-name-commerce-price.field-type-commerce-price {
  font-size: 22px;
  font-weight: bold;
  color: #d3127a;
  margin-left: 20px;
  display: block;
  margin-top: -125px;
  margin-bottom: 140px;
}
.node-teaser .commerce-product-field.commerce-product-field-commerce-price.field-commerce-price,
.view-display-id-admin_page .commerce-product-field.commerce-product-field-commerce-price.field-commerce-price,
.node-teaser .field-name-commerce-price.field-type-commerce-price,
.view-display-id-admin_page .field-name-commerce-price.field-type-commerce-price {
  margin: 0;
}
.field-slideshow-wrapper {
  border: 1px solid #eee;
}
.field-slideshow-wrapper .field-slideshow {
  margin: auto;
  max-height: 400px;
}
.field-slideshow-wrapper .field-slideshow img {
  max-height: 400px;
}
.field-slideshow-wrapper .field-slideshow .field-slideshow-slide {
  width: 100% !important;
  text-align: center;
}
.field-slideshow-wrapper .field-slideshow .field-slideshow-slide img {
  margin: auto;
}
.field-slideshow-wrapper ul.field-slideshow-pager {
  border: 1px solid #fff;
  margin: -1px;
  border-top: 1px solid #eee;
  margin-top: 0;
}
.verbody h1.ap-title {
  padding: 5px 15px;
}
.commerce-order-handler-area-order-total,
.line-item-summary {
  margin-top: 15px;
  border-top: 1px dashed #f5f5f5;
  padding-top: 10px;
  text-align: right;
}
.commerce-order-handler-area-order-total .field-item,
.line-item-summary .field-item,
.commerce-order-handler-area-order-total .line-item-total-raw,
.line-item-summary .line-item-total-raw {
  font-weight: bold;
  color: #398439;
  font-size: 2em;
}
.commerce-order-handler-area-order-total .field-label,
.line-item-summary .field-label,
.commerce-order-handler-area-order-total .line-item-total-label,
.line-item-summary .line-item-total-label {
  font-weight: 300;
  font-size: 1.2em;
}
.commerce-price-formatted-components {
  background-color: rgba(255, 255, 255, 0) !important;
}
.commerce-price-formatted-components tbody,
.commerce-price-formatted-components tr,
.commerce-price-formatted-components td {
  border: 0;
}
.commerce-price-formatted-components td.component-title {
  display: none;
}
.commerce-price-formatted-components td.component-total {
  border-top: 0;
}
tr.component-type-base-price {
  background-color: rgba(255, 255, 255, 0) !important;
}
tr.component-type-base-price td.component-title {
  display: none;
}
tr.component-type-commerce-price-formatted-amount {
  background-color: rgba(255, 255, 255, 0) !important;
}
tr.component-type-commerce-price-formatted-amount td.component-title {
  display: none;
}
tr.component-type-commerce-price-formatted-amount td.component-total {
  font-size: 22px;
  font-weight: bold;
  color: #d3127a;
  padding: 0px 0px;
}
.old-price-small {
  text-align: center;
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 300;
  text-decoration: line-through;
  margin-top: 0px;
}
.old-price-small td.component-total {
  padding: 0px 5px;
}
.view-commerce-cart-form .table-responsive {
  border: 0;
}
.view-commerce-cart-form .old-price-small {
  text-align: center;
  font-size: 14px;
  color: #9a9a9a;
  font-weight: 300;
  text-decoration: line-through;
  margin-top: 0px;
}
.view-commerce-cart-form .old-price-small td.component-total {
  padding: 0px 5px;
}
.view-commerce-cart-form tr.component-type-commerce-price-formatted-amount {
  background-color: rgba(255, 255, 255, 0) !important;
}
.view-commerce-cart-form tr.component-type-commerce-price-formatted-amount td.component-title {
  display: none;
}
.view-commerce-cart-form tr.component-type-commerce-price-formatted-amount td.component-total {
  font-size: 16px;
  font-weight: 400;
  color: #d3127a;
  padding: 0px 0px;
}
.hits .table-responsive {
  border: 0;
}
.hits-cata {
  margin-top: 10px;
}
.node tr.component-type-base-price.old-price.old-price-small {
  position: absolute;
  margin-top: -15px;
  width: 100%;
}
.node tr.component-type-commerce-price-formatted-amount {
  background-color: rgba(255, 255, 255, 0) !important;
}
.node tr.component-type-commerce-price-formatted-amount td.component-title {
  display: none;
}
.node tr.component-type-commerce-price-formatted-amount td.component-total {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #d3127a;
  padding: 0px 0px;
}
.node .table-responsive {
  border: 0;
}
.colors-1,
.colors-2,
.colors-3,
.colors-4,
.colors-5,
.colors-6 {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #eee;
  margin: 5px;
}
.view-pal-id {
  display: none;
}
