label.term-field-id-2 {
  background-image: url(../hairs/f1.png);
}
label.term-field-id-3 {
  background-image: url(../hairs/f2.png);
}
label.term-field-id-32 {
  background-image: url(../hairs/f3.png);
}
label.term-field-id-33 {
  background-image: url(../hairs/f8.png);
}
label.term-field-id-34 {
  background-image: url(../hairs/f9.png);
}
label.term-field-id-35 {
  background-image: url(../hairs/f10.png);
}
label.term-field-id-36 {
  background-image: url(../hairs/f11.png);
}
label.term-field-id-37 {
  background-image: url(../hairs/f12.png);
}
label.term-field-id-38 {
  background-image: url(../hairs/f13.png);
}
label.term-field-id-39 {
  background-image: url(../hairs/f14.png);
}
label.term-field-id-40 {
  background-image: url(../hairs/f15.png);
}
label.term-field-id-41 {
  background-image: url(../hairs/f16.png);
}
label.term-field-id-42 {
  background-image: url(../hairs/f17-2.png);
}
label.term-field-id-43 {
  background-image: url(../hairs/f18.png);
}
label.term-field-id-44 {
  background-image: url(../hairs/f19.png);
}
label.term-field-id-45 {
  background-image: url(../hairs/f20.png);
}
label.term-field-id-46 {
  background-image: url(../hairs/f21.png);
}
label.term-field-id-47 {
  background-image: url(../hairs/f22.png);
}
label.term-field-id-48 {
  background-image: url(../hairs/f23.png);
}
label.term-field-id-49 {
  background-image: url(../hairs/f24.png);
}
label.term-field-id-50 {
  background-image: url(../hairs/f25.png);
}
label.term-field-id-51 {
  background-image: url(../hairs/f26.png);
}
label.term-field-id-52 {
  background-image: url(../hairs/f27.png);
}
label.term-field-id-53 {
  background-image: url(../hairs/f31.png);
}
label.term-field-id-54 {
  background-image: url(../hairs/ton-1.png);
}
label.term-field-id-55 {
  background-image: url(../hairs/ton-1b.png);
}
label.term-field-id-56 {
  background-image: url(../hairs/ton-2.png);
}
label.term-field-id-57 {
  background-image: url(../hairs/ton-3.png);
}
label.term-field-id-58 {
  background-image: url(../hairs/ton-4.png);
}
label.term-field-id-59 {
  background-image: url(../hairs/ton-5m.png);
}
label.term-field-id-60 {
  background-image: url(../hairs/ton-5y.png);
}
label.term-field-id-61 {
  background-image: url(../hairs/ton-6.png);
}
label.term-field-id-62 {
  background-image: url(../hairs/ton-6y.png);
}
label.term-field-id-63 {
  background-image: url(../hairs/ton-8.png);
}
label.term-field-id-64 {
  background-image: url(../hairs/ton-10.png);
}
label.term-field-id-65 {
  background-image: url(../hairs/ton-12.png);
}
label.term-field-id-66 {
  background-image: url(../hairs/ton-14.png);
}
label.term-field-id-67 {
  background-image: url(../hairs/ton-16.png);
}
label.term-field-id-68 {
  background-image: url(../hairs/ton-24.png);
}
label.term-field-id-69 {
  background-image: url(../hairs/ton-25.png);
}
label.term-field-id-70 {
  background-image: url(../hairs/ton-27.png);
}
label.term-field-id-71 {
  background-image: url(../hairs/ton-30.png);
}
label.term-field-id-72 {
  background-image: url(../hairs/ton-33.png);
}
label.term-field-id-73 {
  background-image: url(../hairs/ton-60.png);
}
label.term-field-id-74 {
  background-image: url(../hairs/ton120.png);
}
label.term-field-id-75 {
  background-image: url(../hairs/ton130.png);
}
label.term-field-id-76 {
  background-image: url(../hairs/ton132.png);
}
label.term-field-id-77 {
  background-image: url(../hairs/ton-613.png);
}
label.edit-field-pal-nat-und-4 {
  background-image: url(../hairs/1-0.png);
}
label.edit-field-pal-nat-und-5 {
  background-image: url(../hairs/1-2.png);
}
label.edit-field-pal-nat-und-6 {
  background-image: url(../hairs/2-0.png);
}
label.edit-field-pal-nat-und-7 {
  background-image: url(../hairs/3-0.png);
}
label.edit-field-pal-nat-und-8 {
  background-image: url(../hairs/4-0.png);
}
label.edit-field-pal-nat-und-9 {
  background-image: url(../hairs/4-15.png);
}
label.edit-field-pal-nat-und-10 {
  background-image: url(../hairs/5-0.png);
}
label.edit-field-pal-nat-und-11 {
  background-image: url(../hairs/5-5.png);
}
label.edit-field-pal-nat-und-12 {
  background-image: url(../hairs/6-0.png);
}
label.edit-field-pal-nat-und-13 {
  background-image: url(../hairs/6-1.png);
}
label.edit-field-pal-nat-und-14 {
  background-image: url(../hairs/6-3.png);
}
label.edit-field-pal-nat-und-15 {
  background-image: url(../hairs/7.43.png);
}
label.edit-field-pal-nat-und-16 {
  background-image: url(../hairs/7-0.png);
}
label.edit-field-pal-nat-und-17 {
  background-image: url(../hairs/7-1.png);
}
label.edit-field-pal-nat-und-18 {
  background-image: url(../hairs/7-03.png);
}
label.edit-field-pal-nat-und-19 {
  background-image: url(../hairs/7-7.png);
}
label.edit-field-pal-nat-und-20 {
  background-image: url(../hairs/7-54.png);
}
label.edit-field-pal-nat-und-21 {
  background-image: url(../hairs/8-0.png);
}
label.edit-field-pal-nat-und-22 {
  background-image: url(../hairs/8-1.png);
}
label.edit-field-pal-nat-und-23 {
  background-image: url(../hairs/8-3.png);
}
label.edit-field-pal-nat-und-24 {
  background-image: url(../hairs/8-34.png);
}
label.edit-field-pal-nat-und-25 {
  background-image: url(../hairs/9-0.png);
}
label.edit-field-pal-nat-und-26 {
  background-image: url(../hairs/9-03.png);
}
label.edit-field-pal-nat-und-27 {
  background-image: url(../hairs/9-13.png);
}
label.edit-field-pal-nat-und-28 {
  background-image: url(../hairs/10-0.png);
}
label.edit-field-pal-nat-und-29 {
  background-image: url(../hairs/10-1.png);
}
label.edit-field-pal-nat-und-30 {
  background-image: url(../hairs/10-3.png);
}
label.edit-field-pal-nat-und-31 {
  background-image: url(../hairs/12-0.png);
}
