label[for="edit-field-pal-nat-new-und"] {
  text-align: left;
  width: 100%;
}
label[for="edit-field-pal-isk-new-und-2"] {
  background-image: url(../hairs/f1.png);
}
label[for="edit-field-pal-isk-new-und-3"] {
  background-image: url(../hairs/f2.png);
}
label[for="edit-field-pal-isk-new-und-32"] {
  background-image: url(../hairs/f3.png);
}
label[for="edit-field-pal-isk-new-und-33"] {
  background-image: url(../hairs/f8.png);
}
label[for="edit-field-pal-isk-new-und-34"] {
  background-image: url(../hairs/f9.png);
}
label[for="edit-field-pal-isk-new-und-35"] {
  background-image: url(../hairs/f10.png);
}
label[for="edit-field-pal-isk-new-und-36"] {
  background-image: url(../hairs/f11.png);
}
label[for="edit-field-pal-isk-new-und-37"] {
  background-image: url(../hairs/f12.png);
}
label[for="edit-field-pal-isk-new-und-38"] {
  background-image: url(../hairs/f13.png);
}
label[for="edit-field-pal-isk-new-und-39"] {
  background-image: url(../hairs/f14.png);
}
label[for="edit-field-pal-isk-new-und-40"] {
  background-image: url(../hairs/f15.png);
}
label[for="edit-field-pal-isk-new-und-41"] {
  background-image: url(../hairs/f16.png);
}
label[for="edit-field-pal-isk-new-und-42"] {
  background-image: url(../hairs/f17-2.png);
}
label[for="edit-field-pal-isk-new-und-43"] {
  background-image: url(../hairs/f18.png);
}
label[for="edit-field-pal-isk-new-und-44"] {
  background-image: url(../hairs/f19.png);
}
label[for="edit-field-pal-isk-new-und-45"] {
  background-image: url(../hairs/f20.png);
}
label[for="edit-field-pal-isk-new-und-46"] {
  background-image: url(../hairs/f21.png);
}
label[for="edit-field-pal-isk-new-und-47"] {
  background-image: url(../hairs/f22.png);
}
label[for="edit-field-pal-isk-new-und-48"] {
  background-image: url(../hairs/f23.png);
}
label[for="edit-field-pal-isk-new-und-49"] {
  background-image: url(../hairs/f24.png);
}
label[for="edit-field-pal-isk-new-und-50"] {
  background-image: url(../hairs/f25.png);
}
label[for="edit-field-pal-isk-new-und-51"] {
  background-image: url(../hairs/f26.png);
}
label[for="edit-field-pal-isk-new-und-52"] {
  background-image: url(../hairs/f27.png);
}
label[for="edit-field-pal-isk-new-und-53"] {
  background-image: url(../hairs/f31.png);
}
label[for="edit-field-pal-isk-new-und-54"] {
  background-image: url(../hairs/ton-1.png);
}
label[for="edit-field-pal-isk-new-und-55"] {
  background-image: url(../hairs/ton-1b.png);
}
label[for="edit-field-pal-isk-new-und-56"] {
  background-image: url(../hairs/ton-2.png);
}
label[for="edit-field-pal-isk-new-und-57"] {
  background-image: url(../hairs/ton-3.png);
}
label[for="edit-field-pal-isk-new-und-58"] {
  background-image: url(../hairs/ton-4.png);
}
label[for="edit-field-pal-isk-new-und-59"] {
  background-image: url(../hairs/ton-5m.png);
}
label[for="edit-field-pal-isk-new-und-60"] {
  background-image: url(../hairs/ton-5y.png);
}
label[for="edit-field-pal-isk-new-und-61"] {
  background-image: url(../hairs/ton-6.png);
}
label[for="edit-field-pal-isk-new-und-62"] {
  background-image: url(../hairs/ton-6y.png);
}
label[for="edit-field-pal-isk-new-und-63"] {
  background-image: url(../hairs/ton-8.png);
}
label[for="edit-field-pal-isk-new-und-64"] {
  background-image: url(../hairs/ton-10.png);
}
label[for="edit-field-pal-isk-new-und-65"] {
  background-image: url(../hairs/ton-12.png);
}
label[for="edit-field-pal-isk-new-und-66"] {
  background-image: url(../hairs/ton-14.png);
}
label[for="edit-field-pal-isk-new-und-67"] {
  background-image: url(../hairs/ton-16.png);
}
label[for="edit-field-pal-isk-new-und-68"] {
  background-image: url(../hairs/ton-24.png);
}
label[for="edit-field-pal-isk-new-und-69"] {
  background-image: url(../hairs/ton-25.png);
}
label[for="edit-field-pal-isk-new-und-70"] {
  background-image: url(../hairs/ton-27.png);
}
label[for="edit-field-pal-isk-new-und-71"] {
  background-image: url(../hairs/ton-30.png);
}
label[for="edit-field-pal-isk-new-und-72"] {
  background-image: url(../hairs/ton-33.png);
}
label[for="edit-field-pal-isk-new-und-73"] {
  background-image: url(../hairs/ton-60.png);
}
label[for="edit-field-pal-isk-new-und-74"] {
  background-image: url(../hairs/ton120.png);
}
label[for="edit-field-pal-isk-new-und-75"] {
  background-image: url(../hairs/ton130.png);
}
label[for="edit-field-pal-isk-new-und-76"] {
  background-image: url(../hairs/ton132.png);
}
label[for="edit-field-pal-isk-new-und-77"] {
  background-image: url(../hairs/ton-613.png);
}
label[for="edit-field-pal-nat-new-und-4"] {
  background-image: url(../hairs/1-0.png);
}
label[for="edit-field-pal-nat-new-und-5"] {
  background-image: url(../hairs/1-2.png);
}
label[for="edit-field-pal-nat-new-und-6"] {
  background-image: url(../hairs/2-0.png);
}
label[for="edit-field-pal-nat-new-und-7"] {
  background-image: url(../hairs/3-0.png);
}
label[for="edit-field-pal-nat-new-und-8"] {
  background-image: url(../hairs/4-0.png);
}
label[for="edit-field-pal-nat-new-und-9"] {
  background-image: url(../hairs/4-15.png);
}
label[for="edit-field-pal-nat-new-und-10"] {
  background-image: url(../hairs/5-0.png);
}
label[for="edit-field-pal-nat-new-und-11"] {
  background-image: url(../hairs/5-5.png);
}
label[for="edit-field-pal-nat-new-und-12"] {
  background-image: url(../hairs/6-0.png);
}
label[for="edit-field-pal-nat-new-und-13"] {
  background-image: url(../hairs/6-1.png);
}
label[for="edit-field-pal-nat-new-und-14"] {
  background-image: url(../hairs/6-3.png);
}
label[for="edit-field-pal-nat-new-und-15"] {
  background-image: url(../hairs/7.43.png);
}
label[for="edit-field-pal-nat-new-und-16"] {
  background-image: url(../hairs/7-0.png);
}
label[for="edit-field-pal-nat-new-und-17"] {
  background-image: url(../hairs/7-1.png);
}
label[for="edit-field-pal-nat-new-und-18"] {
  background-image: url(../hairs/7-03.png);
}
label[for="edit-field-pal-nat-new-und-19"] {
  background-image: url(../hairs/7-7.png);
}
label[for="edit-field-pal-nat-new-und-20"] {
  background-image: url(../hairs/7-54.png);
}
label[for="edit-field-pal-nat-new-und-21"] {
  background-image: url(../hairs/8-0.png);
}
label[for="edit-field-pal-nat-new-und-22"] {
  background-image: url(../hairs/8-1.png);
}
label[for="edit-field-pal-nat-new-und-23"] {
  background-image: url(../hairs/8-3.png);
}
label[for="edit-field-pal-nat-new-und-24"] {
  background-image: url(../hairs/8-34.png);
}
label[for="edit-field-pal-nat-new-und-25"] {
  background-image: url(../hairs/9-0.png);
}
label[for="edit-field-pal-nat-new-und-26"] {
  background-image: url(../hairs/9-03.png);
}
label[for="edit-field-pal-nat-new-und-27"] {
  background-image: url(../hairs/9-13.png);
}
label[for="edit-field-pal-nat-new-und-28"] {
  background-image: url(../hairs/10-0.png);
}
label[for="edit-field-pal-nat-new-und-29"] {
  background-image: url(../hairs/10-1.png);
}
label[for="edit-field-pal-nat-new-und-30"] {
  background-image: url(../hairs/10-3.png);
}
label[for="edit-field-pal-nat-new-und-31"] {
  background-image: url(../hairs/12-0.png);
}
label.term-field-id-2 {
  background-image: url(../hairs/f1.png);
}
label.term-field-id-3 {
  background-image: url(../hairs/f2.png);
}
label.term-field-id-32 {
  background-image: url(../hairs/f3.png);
}
label.term-field-id-33 {
  background-image: url(../hairs/f8.png);
}
label.term-field-id-34 {
  background-image: url(../hairs/f9.png);
}
label.term-field-id-35 {
  background-image: url(../hairs/f10.png);
}
label.term-field-id-36 {
  background-image: url(../hairs/f11.png);
}
label.term-field-id-37 {
  background-image: url(../hairs/f12.png);
}
label.term-field-id-38 {
  background-image: url(../hairs/f13.png);
}
label.term-field-id-39 {
  background-image: url(../hairs/f14.png);
}
label.term-field-id-40 {
  background-image: url(../hairs/f15.png);
}
label.term-field-id-41 {
  background-image: url(../hairs/f16.png);
}
label.term-field-id-42 {
  background-image: url(../hairs/f17-2.png);
}
label.term-field-id-43 {
  background-image: url(../hairs/f18.png);
}
label.term-field-id-44 {
  background-image: url(../hairs/f19.png);
}
label.term-field-id-45 {
  background-image: url(../hairs/f20.png);
}
label.term-field-id-46 {
  background-image: url(../hairs/f21.png);
}
label.term-field-id-47 {
  background-image: url(../hairs/f22.png);
}
label.term-field-id-48 {
  background-image: url(../hairs/f23.png);
}
label.term-field-id-49 {
  background-image: url(../hairs/f24.png);
}
label.term-field-id-50 {
  background-image: url(../hairs/f25.png);
}
label.term-field-id-51 {
  background-image: url(../hairs/f26.png);
}
label.term-field-id-52 {
  background-image: url(../hairs/f27.png);
}
label.term-field-id-53 {
  background-image: url(../hairs/f31.png);
}
label.term-field-id-54 {
  background-image: url(../hairs/ton-1.png);
}
label.term-field-id-55 {
  background-image: url(../hairs/ton-1b.png);
}
label.term-field-id-56 {
  background-image: url(../hairs/ton-2.png);
}
label.term-field-id-57 {
  background-image: url(../hairs/ton-3.png);
}
label.term-field-id-58 {
  background-image: url(../hairs/ton-4.png);
}
label.term-field-id-59 {
  background-image: url(../hairs/ton-5m.png);
}
label.term-field-id-60 {
  background-image: url(../hairs/ton-5y.png);
}
label.term-field-id-61 {
  background-image: url(../hairs/ton-6.png);
}
label.term-field-id-62 {
  background-image: url(../hairs/ton-6y.png);
}
label.term-field-id-63 {
  background-image: url(../hairs/ton-8.png);
}
label.term-field-id-64 {
  background-image: url(../hairs/ton-10.png);
}
label.term-field-id-65 {
  background-image: url(../hairs/ton-12.png);
}
label.term-field-id-66 {
  background-image: url(../hairs/ton-14.png);
}
label.term-field-id-67 {
  background-image: url(../hairs/ton-16.png);
}
label.term-field-id-68 {
  background-image: url(../hairs/ton-24.png);
}
label.term-field-id-69 {
  background-image: url(../hairs/ton-25.png);
}
label.term-field-id-70 {
  background-image: url(../hairs/ton-27.png);
}
label.term-field-id-71 {
  background-image: url(../hairs/ton-30.png);
}
label.term-field-id-72 {
  background-image: url(../hairs/ton-33.png);
}
label.term-field-id-73 {
  background-image: url(../hairs/ton-60.png);
}
label.term-field-id-74 {
  background-image: url(../hairs/ton120.png);
}
label.term-field-id-75 {
  background-image: url(../hairs/ton130.png);
}
label.term-field-id-76 {
  background-image: url(../hairs/ton132.png);
}
label.term-field-id-77 {
  background-image: url(../hairs/ton-613.png);
}
label.term-field-id-4 {
  background-image: url(../hairs/1-0.png);
}
label.term-field-id-5 {
  background-image: url(../hairs/1-2.png);
}
label.term-field-id-6 {
  background-image: url(../hairs/2-0.png);
}
label.term-field-id-7 {
  background-image: url(../hairs/3-0.png);
}
label.term-field-id-8 {
  background-image: url(../hairs/4-0.png);
}
label.term-field-id-9 {
  background-image: url(../hairs/4-15.png);
}
label.term-field-id-10 {
  background-image: url(../hairs/5-0.png);
}
label.term-field-id-11 {
  background-image: url(../hairs/5-5.png);
}
label.term-field-id-12 {
  background-image: url(../hairs/6-0.png);
}
label.term-field-id-13 {
  background-image: url(../hairs/6-1.png);
}
label.term-field-id-14 {
  background-image: url(../hairs/6-3.png);
}
label.term-field-id-15 {
  background-image: url(../hairs/7.43.png);
}
label.term-field-id-16 {
  background-image: url(../hairs/7-0.png);
}
label.term-field-id-17 {
  background-image: url(../hairs/7-1.png);
}
label.term-field-id-18 {
  background-image: url(../hairs/7-03.png);
}
label.term-field-id-19 {
  background-image: url(../hairs/7-7.png);
}
label.term-field-id-20 {
  background-image: url(../hairs/7-54.png);
}
label.term-field-id-21 {
  background-image: url(../hairs/8-0.png);
}
label.term-field-id-22 {
  background-image: url(../hairs/8-1.png);
}
label.term-field-id-23 {
  background-image: url(../hairs/8-3.png);
}
label.term-field-id-24 {
  background-image: url(../hairs/8-34.png);
}
label.term-field-id-25 {
  background-image: url(../hairs/9-0.png);
}
label.term-field-id-26 {
  background-image: url(../hairs/9-03.png);
}
label.term-field-id-27 {
  background-image: url(../hairs/9-13.png);
}
label.term-field-id-28 {
  background-image: url(../hairs/10-0.png);
}
label.term-field-id-29 {
  background-image: url(../hairs/10-1.png);
}
label.term-field-id-30 {
  background-image: url(../hairs/10-3.png);
}
label.term-field-id-31 {
  background-image: url(../hairs/12-0.png);
}
