/*! Файл для переопределения цветовой схемы темы */
.form-item-line-item-fields-field-pal-isk-und.form-type-radio {
  width: 40px;
  float: left;
  height: 40px;
  background: #eee;
  margin-right: 5px;
}
.form-item-line-item-fields-field-pal-isk-und.form-type-radio input[type="radio"],
.form-item-line-item-fields-field-pal-isk-und.form-type-radio input[type="checkbox"] {
  display: none !important;
}
label[for="edit-line-item-fields-field-pal-isk-und-34"] {
  background: #000;
  /* Ваш стиль */
}
